// colors
$black: #222222;
$grey-color: #A0A0A0;
$dark-grey-color: #636363;
$red: #B81316;
$light-red: #FF585B;
$green-active: #3E8D1C;
$gold: #FEDC70;
$orange: #ED6912;

$grey-bg: #E8E7E7;
$light-grey-bg: #F1F1F1;
$dark-grey-bg: #333333;
