@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui/SegoeUI-Italic.woff2') format('woff2'),
        url('../fonts/segoeui/SegoeUI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/segoeui/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui/SegoeUI-BoldItalic.woff2') format('woff2'),
        url('../fonts/segoeui/SegoeUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui/SegoeUI.woff2') format('woff2'),
        url('../fonts/segoeui/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

